@import url('https://fonts.googleapis.com/css?family=Nixie+One|Rock+Salt');
html, body
{
    height: 100%;
}

a:hover
{
    color: rgb(247, 248, 249);
    background-color: rgb(20, 20, 19);

}

body
{
    background-image: url(img/mag2.jpg);
    background-position: center center;  
}

#header
{
    color: rgb(252, 249, 249);
    height: 10%;
    width: 40%;
    display: flex;
    align-items: center;
    margin-bottom:5%;
    justify-content:space-around;
    font-family: 'Rock Salt', cursive;
    font-size: 3.25em;
}

#desc
{
    height: 10%;
    width: 100%;
    display: flex;
    color: rgb(20, 20, 19);
    background-color: rgba(247, 248, 249, .9);
    justify-content:flex-end;
    align-items: center;
    font-family: 'Nixie One', cursive;
    font-size: 1.25em;
    text-align: right;
}


#wdbx
{
    height: 50%;
    display: flex;
    font-family: 'Nixie One', cursive;
    justify-content:space-around;
}

#wdbx1, #wdbx2,#wdbx3, #wdbx4
{
    display: flex;
    background-color: rgba(71, 72, 73,0.75);
    padding:.25%;
    height:70%;
    font-size: 1.1em;
    text-overflow: ellipsis;
}


a{
    text-decoration: none;
    color: rgb(247, 248, 249);
}

#space
{
    height: 7%;
}

#footer
{
    height: 10%;
    width: 100%;
    display: flex;
    background-color: rgba(20, 20, 19,0.9);
    justify-content:flex-end;
    align-items:center;
    font-family: 'Nixie One', cursive;
}

#next
{
    width: 10%;
    font-size: 1.25em;
}



/*

header:background-color: rgba(247, 247, 247,0.80);


*background-color: rgba(247, 247, 247,0.60);
this was the other color option I had and swapped it out


a{
    text-decoration: none;
    color:rgb(247, 248, 249);
}
this code takes out the underlining that happens when you have hyperlinked text

 {
    text-overflow: ellipsis;
    overflow: hidden;
 }
 this code was supposed to help the overflow but hasn't complete fixed the problem;

background-color: rgba(71, 72, 73,0.75);wdbx
color: rgb(247, 248, 249); hover
*\